html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  font-family: "Dosis", sans-serif;
  font-display: swap;
  background: rgb(1, 114, 175);
  background: linear-gradient(
    90deg,
    rgba(1, 114, 175, 1) 0%,
    rgba(116, 254, 189, 1) 88%
  );
}

.calculator {
  display: flex;
  flex-direction: column;
  flex-basis: 400px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  height: 540px;
  padding: 20px 35px;
  box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  color: #232323;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.34);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.34);
}

.display {
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.01);
  border-radius: 16px;
  color: #232323;
  font-size: 35px;
  padding: 20px;
  width: 326px;
  text-align: right;
  box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
  overflow: hidden;
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
}

.buttons:last-child {
  background-color: hsl(201.03deg 100% 42.13%);
  color: #fff;
}

.buttons:last-child:hover {
  background-color: hsl(201.03deg 100% 50%);
}

.buttons:last-child:active {
  background-color: hsl(201.03deg 100% 42.13%);
}

.buttons {
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.01);
  color: #232323;
  flex-basis: 20%;
  font-family: inherit;
  font-size: 24px;
  height: 65px;
  box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
  border-radius: 16px;
}

.buttons:hover {
  background-color: inherit;
}

.buttons:active {
  background-color: rgba(255, 255, 255, 0.75);
}

.clear {
  flex-basis: 47%;
}

.triple {
  flex-basis: 73%;
}
